* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  --background: #232323;
  --button: #FE9E0E;
  --white: #fff;
  --card-list: #262626;
  --card-list-btn: #3C3C3C;
  --checked-false: #707070;
  --checked-true: #29CB00;
  --delete: #c53030;
  --input-text: #464646;
  --division: #323232;
}

@media (max-width: 415px) {
  html {
    font-size: 15px;
  }

  .container {
    padding: 0 2rem; /*30px base 15*/
  }
}

body {
  background-color: var(--background);
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

body,
input,
button {
  font-family: 'Poppins', sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 70rem; /*1120px */
  min-width: 22.125rem; /*354px*/
  margin: 0 auto;
}
