
/*
  --background: #232323;
  --button: #FE9E0E;
  --white: #fff;
  --card-list: #262626;
  --card-list-btn: #3C3C3C;
  --checked-false: #707070;
  --checked-true: #29CB00;
  --delete: #c53030;
  --input-text: #464646;
  --division: #323232;
*/

.btn {
  width: 60px;
  height: 60px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--card-list-btn);
}

.btn-add {
  flex: 1;
  max-width: 164px;
  height: 48px;
  border: none;
  border-radius: 0 5px 5px 0;
  background: var(--button);
  color: var(--white);


  display: flex;
  align-items: center;

  transition: transform 0.2s;
}
.btn-add:hover {
  transform: scale(1.04);
}

.btn-add span {
  flex: 1;
  font-size: 16px;
}


.btn-checked {
  border-radius: 5px 0 0 5px;
}
.svg-check {
  fill: var(--checked-true);
}
.svg-uncheck {
  fill: var(--checked-false);
}


.btn-delete {
  align-self: center;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}


@media (max-width: 415px) {
  .btn-add {
    width: 48px;
    height: 48px;
    flex: initial;
    border: none;
  }
  .btn-add-text {
    display: none;
  }
}
